#komments  table {
    border-collapse: collapse;
    width: 100%;
}

#komments  th, td {
    text-align: left;
    padding: 8px;
}

#komments  tr:nth-child(even){background-color: #f2f2f2}

#komments  th {
    background-color: #4CAF50;
    color: white;
}